<!doctype html>

<html>

<head>
    <title>Help</title>

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>{{helpMessage}}</p>
    </div>

    {{>footer}}
    <script type="javascript" src="/js/app.js" />
    </body>
</html>